
.idea/ATC-Dashboard-Tut.iml
.idea/ATC-Dashboard-Tut.iml
__pycache__/ATC_charts.cpython-39.pyc
__pycache__/ATC_dashboard.cpython-39.pyc
.idea/ATC-Dashboard-Tut.iml
__pycache__/ATC_charts.cpython-39.pyc
__pycache__/ATC_charts.cpython-39.pyc
*.pyc
.idea/workspace.xml
